@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms all!important;
}

body {
    background: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-container {
    display: flex;
    gap: 20px;
    max-width: 420px;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}

.img-container::-webkit-scrollbar {
    display: none;
}

.img-container img {
    border-radius: 5px;
}

.img-container img:hover {
    transform: scale(1.05);
}